# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Jupyter Notebook
.ipynb_checkpoints

crawlingnews/NULL/articles
crawlingnews/NULL/txt

export/
mentions/
merge/
!merge/NULL/*.media.merge.csv

helper/SQLite.log
helper/SQLiteTest.db




